@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Roboto';
}

.Beta {
    font-size: 8px;
    font-family: 'Inter';
}

.HeroPage {
    display: flex;
    height: 80%;
    padding: 6% 9.5%;
    align-items: center;
    justify-content: space-between;
    gap: 104px;
    align-self: stretch;
    flex-direction: row;
    background-color: #F5F7FA;
}

.HeroDesc {
    font-family: 'Poppins';
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}

.HeroDesc h1 {
    color: #4D4D4D;
    animation: fadeIn 1.5s ease-out forwards;
    font-weight: 600;
}

.HeroDesc h1 span {
    color: #70D474;
}

.HeroDesc h6 {
    font-weight: 400;
    animation: fadeIn 1.5s ease-out forwards;
    color: #717171;
}

.CreateEventBtn {
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 9px;
    background: #297045;
    color: #FFF;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.HeroImg {
    width: 250px;
    height: 300px;
}

.Tutorial {
    background-color: #FFFFFF;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Tutorial h1 {
    padding: 0px 144px;
    color: #4D4D4D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    /* 122.222% */
}

.Steps {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
}

.Step1,
.Step2,
.Step3 {
    background-color: #E6E6E6;
    display: flex;
    border-radius: 30px;
    width: 25%;
    height: 85%;
    padding: 24px 32px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

[data-aos] {
    opacity: 0;
    transform: translateY(20px);
}

[data-aos="fade-up"] {
    opacity: 1 !important;
    transition-property: transform, opacity;
}

.Step1 h3,
.Step2 h3,
.Step3 h3 {
    color: #4D4D4D;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.Step1 b3,
.Step2 b3,
.Step3 b3 {
    color: #717171;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.Count {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    fill: #297045;
}

.Text {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.Footer {
    display: flex;
    padding: 64px 165px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    gap: 125px;
    background-color: #263238;
}

.Logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    font-family: 'Inter';
}

.Logo b6 {
    color: #F5F7FA;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.Icons{
    display:flex;
    flex-direction: row;
    gap: 10px;
}

.Email{
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.SendMail input{
    background-color: transparent;
    color:#F5F7FA;
    padding: 10px;
    padding-right: 30px;
    border: 2px #fff solid;
    border-radius: 20px;

}

.SendMail button{
    background-color: transparent;
    margin-left: -30px;
    border: 0px;
    
}

@media (prefers-reduced-motion: reduce) {
    .fadeIn {
        animation: none;
    }
}

@media only screen and (max-width: 800px) {
    .HeroPage {
        flex-direction: column;
    }

    .Steps {
        flex-direction: column;
    }
    .Footer{
        flex-direction: column;
        padding: 32px 83px;
    }
}

@media (prefers-reduced-motion: reduce) {
    .fadeIn {
        animation: none;
    }
}