@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.UserPageTitle {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9375rem;
    margin: 2rem;

    color: #000;
    font-size: 1.5rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.HeaderCard {
    width: 390px;
    height: 99px;
    flex-shrink: 0;
    top: -10px;

    border-radius: 30px 30px 0px 0px;
    background: #E6E6E6;
    position: relative;
    z-index: 5;
}

.UserNameContainer {
    display: inline-flex;
    padding: 8px 10px 8px 21.5px;
    align-items: center;
    gap: 119px;
    width: 80%;
    height: 40%;
    
    border-radius: 30px;
    border: 1px solid #E4E4E4;
    background: #F7F7F7;

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.UserNameForm {
    display: flex;
    width: 170%;
    flex-direction: column;
    color: #000000;
    text-align: left;
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: 0px;
    background: #F7F7F7;
    outline: none;
}

.JoinButton {
    display: flex;
width: 90px;
height: 38px;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 10px;

border-radius: 30px;
background: #5AD85F;
outline: none;
border-color: transparent;

color: #000;
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 150%;
}

.DOTWBar {
    position: relative;
    top: -10px;
    width: 390px;
    height: 50px;
    flex-shrink: 0;

    background: #E6E6E6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: grid;
    grid-template-columns: 1.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    z-index: 4;
}

.DayLabel {
    width: 32px;
height: 32px;
flex-shrink: 0;

border-radius: 32px;
background: #6ABEA7;

color: #FFF;
text-align: center;
font-size: 14px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 120%;

display: flex;
align-items: center;
justify-content: center;
}

.CalendarGrid {
    position: relative;
    display: grid;
    grid-template-columns: 1.6fr repeat(7, 1fr);
    grid-template-rows: repeat(24, 1fr);
    place-items: center;

    height: 100%;
    width: 100%;
}

.UnselectedSlot {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-shrink: 0;

    border: 0.3px solid #B5B5B5;
    border-top: none;
    border-right: none;
    background: #F7F7F7;
    z-index: 3;
}

.SelectedSlot {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-shrink: 0;

    border: 0.3px solid #B5B5B5;
    border-top: none;
    border-bottom: none;
    border-right: none;
    background: #5AD85F;
    z-index: 3;
}

.TimeLabel {
    color: #969696;
    background: #F7F7F7;
text-align: center;
font-size: 14px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: 120%;

}

.GroupPageButton {
    display: flex;
width: 90px;
height: 38px;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 10px;

border-radius: 30px;
background: #9747FF;
outline: none;
border-color: transparent;

/* GroupViewButton */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 10px;

position: absolute;
width: 60px;
height: 30px;
left: 190px;
top: 25px;

background: #9747FF;
border-radius: 30px;

}

