@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}

.UserBase {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.UserScreenBackground {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    background: #f7f7f7;
    justify-content: flex-start;

}
.offcanvas{
    width: 40% !important;
}

.UserTitleContainer{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center ;
        margin-top: 3%;
}

.sync-circle-button {
    max-width: 35px;
    width: 100%;
    min-width: 30px;
    margin-bottom: 5%;
}


.UserTitle {
    /* SyncCircle */
    width: 100%;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: #000000;

    margin-top: 2%;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-3px); }
    20%, 40%, 60%, 80% { transform: translateX(3px); }
  }
  
  .vibrate-animation {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
  

.UserTitleSmall {
    font-size: 1.5rem;
    margin-top: 5%;
}

.HeaderCard {
    display: flex;
    flex-direction: column;
    background: #e6e6e6;
    border-radius: 30px 30px 0px 0px;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    height: auto;
    flex-grow: 0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

}

.UserNameContainer {
    display: flex;
    width: 90%;
    height: 40%;
    justify-content: center;
    background: #F7F7F7;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
    background-color: #f7f7f7;
    margin-top: 3%;

}

.UserNameForm {
    color: #000000;
    text-align: left;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border: 0px;
    background: none;
    outline: none;
    margin-left: 10%;
    width: 90%;
    font-size: 1.3rem;
}

.UserButtonContainer {
    display: flex;
    border-radius: 30px;
    flex-basis: 25%;
    height: 80%;
    align-items: center;
}

.Groups {
    display: flex;
    align-items: center;
}

.is-invalid::placeholder {
    color: #b32121;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F7F7F7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.JoinButton {
    width: 90%;
    border-radius: 30px;
    height: 90%;
    background: #5AD85F;
    outline: none;
    border-color: transparent;
    font-size: 1.1rem;

    color: #ffffff;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-right: 2%;
}

.JoinButton:hover {
    background-color: #19ac1e;
}

.disabled {
    background-color: #b5b5b5 !important;
}

.disabled:hover {
    background-color: #b5b5b5 !important;
}

.Groups {
    width: 100%;
    height: 100%;
}

.GroupPageButton {
    width: 90%;
    height: 90%;
    border-radius: 30px;
    background-color: #7D83FF;
    color: #ffffff;
    outline: none;
    border: none;
    align-items: center;
}

.GroupPageButton:hover {
    background-color: #5f65d4;
}

.GPCircleContainer {
    position: absolute;
    margin-top: 1%;
    width: 8%;
    height: 0;
    padding-bottom: 8%;
}

.GroupPageButtonCircle {
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: start;
    justify-content: center;

    border-radius: 50px;
    border: 3px solid #F7F7F7;
    color: #ffffff;
    background: #7D83FF;
    width: 100%;
    height: 0;
    padding-bottom: 86%; 
    
    right: 35%;
}

.GroupPageButtonCircle:hover {
    background-color: #5f65d4;
}

.GroupPageButtonCircleIcon .GroupPageButtonIcon {
    color: white;
}
.GroupPageButtonCircleIcon{
    margin-top: 15% !important;
    width: 32px !important;
    height: 32px !important;
}

.DOTWBar {

    display: grid;
    width: 100%;
    border-bottom: 2px solid #B5B5B5;
    z-index: 5;
    background-color: #e6e6e6;
    flex-grow: 1;
    align-items: center;
    justify-items: center;
    height: 15%;
    padding-top: 1%;
    /**padding-right: 10px;**/
    padding-bottom: 3%;
    
}

.DayLabel {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #297045;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateLabel{
    color:#969696;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.CalenderContainer{
    direction:ltr;
    overflow-y: auto;
    height: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 30px 30px;
    margin-bottom: 3%;
    z-index: 1000;
}


.CalendarGrid {
    position: relative;
    display: grid;
    direction: ltr;
    grid-template-columns: 1.6fr repeat(7, 1fr);
    grid-template-rows: repeat(24, 1fr);
    flex-grow: 1;
    place-items: center;
    overflow-y: auto;
    min-height: 0px;
    height: 100%;
}

.UnselectedSlot {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    min-height: 45px;

    border: 1px solid #B5B5B5;
    border-top: none;
    border-right: none;
    background: #F7F7F7;
    z-index: 3;
    min-height: 60px;
}

.alert-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }

.UnselectedSlot:hover {
    background-color: #eeeeee;
}

.SelectedSlot {
    min-height: 45px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-shrink: 0;

    border: 1px solid #B5B5B5;
    border-top: none;
    border-right: none;
    background: #498c8a;
    z-index: 3;
    min-height: 60px;
}

.TimeLabel {
    color: #969696;
    text-align: center;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 16.8px */

    border: 1px solid #B5B5B5;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ShiftButtons {
    display: flex;
    gap: 10px;
}
.ShiftLeft {
    width: 28px;
    height: 28px;
    border-Radius: 50%;
    background-Color: #bfc0be;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ShiftLeft:hover {
    background-color: #9c9c9b;
}
.ShiftLeft:disabled {
    background-color: #e0e0e0;
    
}

.ShiftRight {
    width: 28px;
    height: 28px;
    border-Radius: 50%;
    background-Color: #bfc0be;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ShiftRight:hover {
    background-color: #9c9c9b;
}

.ShiftRight:disabled {
    background-color: #e0e0e0;
}


@media only screen and (max-width: 1300px){
    .UserTitleSmall{
        font-size: 1.2rem;
    }
    .GroupPageButtonCircleIcon{
        width: 30px !important;
        height: 30px !important;
    }
    .offcanvas{
        width: 50% !important;
    }
    .GPCircleContainer{
        width: 10%;
        padding-bottom: 10%;
    }
}
@media only screen and (max-width: 1000px){
    .UserScreenBackground{
        width: 80%;
    }
    .UserTitleSmall{
        font-size: 1.2rem;
    }
    .GroupPageButtonCircleIcon{
        width: 30px !important;
        height: 30px !important;
    }
    .GPCircleContainer{
        width: 8%;
        padding-bottom: 8%;
    }
    .offcanvas{
        width: 60% !important;
    }
    

}

@media only screen and (max-width: 768px){
    .UserScreenBackground{
        height: 95%;
        position: absolute;
        bottom: 5%
    }
    .sync-circle-button {
        max-width: 25px;
        min-width: 20px;
    }
    .HeaderCard{
        padding-top: 1%;
    }
    .UserScreenBackground{
        width: 90%;
    }
    .offcanvas{
        width: 100% !important;
    }
    .GroupPageButtonCircleIcon{
        width: 28px !important;
        height: 28px !important;
    }
    .GPCircleContainer{
        width: 9%;
        padding-bottom: 9%;
    }
    .CalenderContainer{
        direction: rtl;
    }
}

@media only screen and (max-width: 550px){
    .HeaderCard{
        padding-top: 2%;
    }
    .UserScreenBackground{
        width: 100%;
    }
    .GroupPageButtonCircleIcon{
        width: 28px !important;
        height: 28px !important;
    }
    .GPCircleContainer{
        width: 12%;
        padding-bottom: 12%;
    }


    .UserTitleSmall{
        font-size: 1rem;
    }
   
}

/**Phones**/
@media only screen and (max-width: 400px){
    .UserBase{
        position: fixed;
        width: 100%;
        overflow: hidden;
        z-index: 5;
    }
    
    .UserScreenBackground{
        position: fixed;
        width: 100%;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 10;
    }

    .UserTitleContainer{
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .HeaderCard{
        padding-top: 5%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        
    }

    .CalenderContainer{
    }


    .DOTWBar{
        padding-top: 3%;
        padding-bottom: 5%;
    }
    .UserTitleSmall{
        font-size: 1.2rem;
    }
    .DayLabel{
        width: 28px;
        height: 28px;
    }
    .dateLabel{
        font-size: small;
    }
    .UserNameContainer{
        margin-top: 0;
        height: 50%;
    }
    .GroupPageButtonCircleIcon{
        width: 26px !important;
        height: 26px !important;
    }
    .GPCircleContainer{
        width: 15%;
        padding-bottom: 15%;
    }
}

@media only screen and (max-height: 500px){
    .UserNameContainer{
        height: 40%;
    }
    .DOTWBar{
        padding-bottom: 2%;
    }
    
}

@media (prefers-color-scheme: dark){
    .UserBase{
        background-color: #202124;
    }
    .UserScreenBackground{
        background-color: #202124;
    }
    .HeaderCard{
        background-color: #303134;
    }
    .DOTWBar{
        background-color: #303134;
    }
    .UserNameContainer{
        background-color: #edeff1;
    }
    .UserNameForm{
        color: #237563;
    }
    .GroupPageButton{
        background-color: #5c62da;
    }
    .GroupPageButton:hover{
        background-color: #383c8d;
    }

    .DayLabel{
        background-color: #604488;
    }
    .JoinButton{
        background-color: #08605f;
    }
    .JoinButton:hover{
        background-color: #0fbdba;
    }
    .GroupPageButtonCircle{
        border: 3px solid #edeff1;
    }
    .UnselectedSlot{
        background-color: #edeff1;
    }
    .UnselectedSlot:hover{
        background-color: #edeff1e4;
    }
    .SelectedSlot{
        background-color: #237563;
    }
    .TimeLabel{
        background-color: #303134 !important;
    }
    .UserTitle{
        color: #ffffff;
    }
    ::-webkit-scrollbar-track {
        background: #303134;
    }
    .ShiftLeft{
        background-color: #e0e0e0;
    }
    .ShiftLeft:disabled{
        background-Color: #bfc0be;
    }
    .ShiftRight{
        background-color: #e0e0e0;
    }
    .ShiftRight:disabled{
        background-Color: #bfc0be;
    }
}
