@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}

.UserScreenBackground {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f7f7f7;
    justify-content: flex-start;
    
}


.UserTitle {
    /* SyncCircle */
    width: 100%;
    height: 1.81rem;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: #000000;

    margin-top: 10%;
}

.HeaderCard {
    display: flex;
    flex-direction: column;
    background: #e6e6e6;
    border-radius: 30px 30px 0px 0px;
    align-items: center;
    height: 15%;
    justify-content: space-between;
    margin-top: 3%;
    
}

.UserNameContainer {
    display: flex;
    width: 90%;
    height: 40%;
    justify-content: center;
    background: #F7F7F7;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
    gap: 10px;
    position: relative;

}

.UserNameForm {
    color: #000000;
    text-align: left;
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border: 0px;
    background: none;
    outline: none;
    margin-left: 10%;
    width: 90%;
}

.UserButtonContainer {
    display: flex;
    border-radius: 30px;
    flex-basis: 25%;
    height: 80%;
    align-items: center;
}

.Groups {
    display: flex;
    align-items: center;
}

.is-invalid::placeholder {
    color: #b32121;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F7F7F7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
    

.JoinButton {
    width: 90%;
    border-radius: 30px;
    height: 90%;
    background: #5AD85F;
    outline: none;
    border-color: transparent;

    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-right: 2%;
}
.JoinButton:hover {
    background-color: #19ac1e;
}

.Groups {
    width: 100%;
    height: 100%;
}

.GroupPageButton {
    width: 90%;
    height: 90%;
    border-radius: 30px;
    background-color: #7D83FF;
    outline: none;
    border: none;
}

.GroupPageButton:hover {
    background-color: #5f65d4;
}

.GPCircleContainer {
    position: absolute;
    margin-top: 1%
}

.GroupPageButtonCircle {
    position: relative;
    right: 25%;
    bottom: 20px;

    border-radius: 30px;
border: 3px solid #F7F7F7;
background: #7D83FF;
width: 53px;
height: 53px;
}
.GroupPageButtonCircle:hover {
    background-color: #5f65d4;
}

.DOTWBar {

    display: grid;
    width: 100%;
    height: 30%;
    box-shadow: 0px 6px 4px -2px rgba(0, 0, 0, 0.25);
    z-index: 5;
    background-color: #e6e6e6;
    padding-bottom: 10%;
    padding-top: 3%;
    flex-grow: 1;
    align-items: center;
    justify-items: center;
}

.DayLabel {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #297045;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CalendarGrid {
    position: relative;
    display: grid;
    grid-template-columns: 1.6fr repeat(7, 1fr);
    grid-template-rows: repeat(24, 1fr);
    flex-grow: 1;
    place-items: center;
    overflow-y: auto;
    min-height: 0px;
}

.UnselectedSlot {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-shrink: 0;

    border: 0.3px solid #B5B5B5;
    border-top: none;
    border-right: none;
    background: #F7F7F7;
    z-index: 3;
    min-height: 60px;
}
.UnselectedSlot:hover {
    background-color: #eeeeee;
}

.SelectedSlot {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-shrink: 0;

    border: 0.3px solid #B5B5B5;
    border-top: none;
    border-bottom: none;
    border-right: none;
    background: #498c8a;
    z-index: 3;
    min-height: 60px;
    border: 0.3px solid #B5B5B5;
    border-top: none;
    border-right: none;
}

.TimeLabel {
    color: #969696;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 16.8px */

    border: 0.3px solid #B5B5B5;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}





@media (425.98px < width <= 1300px) {
    .UserBase {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
    }

    .UserScreenBackground {
        width: 50%;
    }

    .UserTitle {
        margin-top: 2%;
    }

    .HeaderCard {
        margin-top: 2%;
        height: 18%;
        flex-grow: 0;
    }

    .UserNameContainer {
        height: 40%;
        background-color: #f7f7f7;
        margin-top: 3%;
    }

    .DOTWBar {
        height: 15%;
        padding-top: 1%;
        padding-bottom: 3%;
        padding-right: 10px;
    }

    .UserNameForm {
        font-size: 1.3rem;
    }

    .JoinButton {
        font-size: 1.1rem;
    }

    .CalendarGrid {
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 3%;
        border-radius: 0px 0px 30px 30px;
    }

    .UnselectedSlot {
        min-height: 45px;
    }

    .SelectedSlot {
        min-height: 45px;
    }

    .GroupPageButtonCircle {
        width: 130%;
        margin-top: 30%;   
        right: 35%;
    }
}


@media (width > 1300px) {
    .UserBase {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
    }

    .UserScreenBackground {
        width: 50%;
    }

    .UserTitle {
        margin-top: 2%;
    }

    .HeaderCard {
        margin-top: 2%;
        height: 18%;
        flex-grow: 0;
    }

    .UserNameContainer {
        height: 40%;
        background-color: #f7f7f7;
        margin-top: 3%;
    }

    .DOTWBar {
        height: 15%;
        padding-top: 1%;
        padding-bottom: 3%;
    }

    .UserNameForm {
        font-size: 1.3rem;
    }

    .JoinButton {
        font-size: 1.1rem;
    }

    .CalendarGrid {
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 3%;
        border-radius: 0px 0px 30px 30px;
    }

    .UnselectedSlot {
        min-height: 45px;
    }

    .SelectedSlot {
        min-height: 45px;
    }

    .GroupPageButtonCircle {
        width: 150%; 
        right: 35%;
    }

}
@media only screen and (max-width: 850px){
    .UserScreenBackground{
        width: 75% !important;
    }
}

@media only screen and (max-width: 600px){
    .offcanvas{
        width: 100% !important;
    }
    .UserScreenBackground{
        width: 100% !important;
    }
    
}