@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Title {
    /* SyncCircle */
    position: absolute;
    width: 133.36px;
    height: 29px;
    left: 32px;
    top: 38px;
    margin-bottom: 15px;
    display: inline-block;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    
    color: #5AD85F;
}

.LightMode {
    
    position: absolute;
    width: 390px;
    height: 844px;
    left: 0px;
    top: 0px;

    background: #F7F7F7; 
}

.Backdrop {
    position: absolute;
    width: 380px;
    height: 493px;
    left: 11px;
    top: 100px;
    
    background: #E6E6E6;
    border-radius: 30px;

}

.EventNameForm {
    /* Event name form */
    z-index: 10;
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 21px 19px;
    gap: 10px;

    position: absolute;
    width: 336px;
    height: 66px;
    left: 16px;
    top: 32px;


    background: #F7F7F7;
    border: 2px solid #5AD85F;
    border-radius: 30px;

    /* Enter event name */

    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    text-align: center;

    color: #5AD85F;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.TimeSelectionFrame {
    position: relative;
    width: 247px;
    height: 46px;
    top: 100px;
}

.TimeSelectionDropdown {
    /* Frame 16 */
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    position: relative;
    width: 107px;
    height: 43px;
    left: 40px;

    background: #F7F7F7;
    border: 2px solid #6ABEA7;
    border-radius: 30px;

    /* 9:00 AM */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 120%;
/* identical to box height, or 18px */

text-align: center;

color: #6ABEA7;


}


.TimeSelectionDropdown2 {
    /* Frame 23 */

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    position: relative;
    width: 107px;
    height: 43px;
    left: 214px;
    bottom: 43px;

    

    background: #F7F7F7;
    border: 2px solid #6ABEA7;
    border-radius: 30px;

    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 120%;
/* identical to box height, or 18px */

text-align: center;

color: #6ABEA7;
}

.DayOfTheWeekButton{
    /* Property 1=Default */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px;
    gap: 10px;

    position: relative;
    width: 83px;
    height: 80px;
    left: 20px;
    top: 20px;

    background: #70D474;
    border-radius: 15px;
    border: 0;


    /* Sun */


    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.028em;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    grid-row: 1;
    grid-column: 1
}

.DaySelectionFrameRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1.5em;
}

.DaySelectionFrame {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25%;
    width: 90%;
    height: 100%;
    align-items: center;
    gap: 1.5em;
}

.CreateEventSubmitButton {
    /* Create Event Button */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;

    position: absolute;
    width: 328px;
    height: 56px;
    left: 31px;
    top: 625px;

    background: #5AD85F;
    border-radius: 10px;


    /* Create Event */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    text-align: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    border: 0;

}


