@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}



.ScreenBackground {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #F7F7F7;
    justify-content: flex-start;
    align-items: center;
    gap: 4%
}


.Title {
    /* SyncCircle */
    width: 100%;
    height: 1.81rem;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: #5AD85F;
    margin-bottom: -3%;
    margin-top: 15%;
}

.Backdrop {
    display: flex;
    flex-direction: column;
    width: 90%;
    background: #E6E6E6;
    height: 50%;
    border-radius: 30px;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}

.EventNameForm {
    display: flex;
    width: 90%;
    height: 12%;
    background: #F7F7F7;
    border: 2px solid #297045;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    color: #5AD85F;
}

.EventNameForm:hover {
    border: 2px solid #5AD85F;
}

.EventNameInput {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 30px;

    color: #297045;
    background: none;
    border: none;
    outline: none;
}

.EventNameInputRed::placeholder {
    color: #b32121;
}
.RedBorder{
    border: 3px solid #b32121 !important;
    color: #b32121 !important;
}


.TimeSelectionFrame {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
}

.TimeSelectionFrame label {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.TimeSelectionDropdown {
    background: #F7F7F7;
    border: 2px solid #297045;
    border-radius: 30px;
    display: flex;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    width: 42%;

    color: #297045;
    outline: none;
}

.TimeSelectionDropdown:hover {
    border: 2px solid #5AD85F;
}





.DaySelectionFrame {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 65%;
    gap: 10px;
}
.CalendarSelectionFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 65%;
    gap: 10px;
}

.DaySelectionFrameRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-basis: 100%;
    height: 30%;
}




.DayOfTheWeekButton {
    background: #70D474;
    border-radius: 15px;
    border: none;

    letter-spacing: -0.028em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #FFFFFF;
    flex-basis: 30%;
}


.DayOfTheWeekButtonPressed {
    background: #297045;
    border-radius: 15px;
    border: 0;

    letter-spacing: -0.028em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #FFFFFF;
    flex-basis: 30%;
}

.alert-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }
  


.CreateEventSubmitButton {
    width: 80%;
    height: 6%;


    background: #5AD85F;
    border-radius: 10px;
    border: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    text-align: center;

    color: #f7f7f7;
}

.CreateEventSubmitButton:hover {
    background: #297045;
}

@media only screen and (min-width: 1200px) {
    .ScreenBackground {
        width: 30%;
        background-color: transparent;

    }

    .Title {
        margin-right: 0;
        margin-top: 10%;
        margin-bottom: 3%;
        color: #F7F7F7;
        text-align: center;
        font-family: "Poppins";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 48px */
    }

    .Base {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-image: url('GreenCircleBG.png');
        background-size:cover;
    }

    .Backdrop {
        height: 65%;
    }

    .DayOfTheWeekButton {
        font-size: large;
    }

    .DayOfTheWeekButtonPressed {
        font-size: large;
    }

    .EventNameForm {
        border: 2px solid #297045;
    }

    .EventNameInput {
        font-size: 115%
    }

    .DayOfTheWeekButton:hover {
        border: 2px solid #297045;
    }

    .CreateEventSubmitButton{
        background-color: #297045;
        color: #ffffff;
        
    }

    .CreateEventSubmitButton:hover {
        color: #F7F7F7;
        background-color: #391463;
    }

}


@media only screen and (max-width: 1200px) {

    .ScreenBackground {
        width: 40%;
        background-color: transparent;
    }

    .Title {
        margin-right: 0;
        margin-top: 10%;
        margin-bottom: 3%;
        color: #F7F7F7;
        text-align: center;
        font-family: "Poppins";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 48px */
    }

    .Base {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-image: url('GreenCircleBG.png');
        background-size:cover;
    }

    .Backdrop {
        height: 65%;
    }

    .DayOfTheWeekButton {
        font-size: large;
    }

    .DayOfTheWeekButtonPressed {
        font-size: large;
    }

    .EventNameForm {
        border: 2px solid #297045;
    }

    .EventNameInput {
        font-size: 115%
    }

    .DayOfTheWeekButton:hover {
        border: 2px solid #297045;
    }

    .CreateEventSubmitButton{
        background-color: #297045;
        color: #ffffff;
        
    }

    .CreateEventSubmitButton:hover {
        color: #F7F7F7;
        background-color: #391463;
    }

}

@media only screen and (min-height: 501px) and (min-width: 551px) and (max-width: 1000px){

    .Title{
        font-size: 50px;
    }
    .EventNameForm{
        font-size: 20px;
    }

    .ScreenBackground{
        width: 70%;
    }
    .Backdrop{
        height: 50%;
    }
    .DayOfTheWeekButton{
        font-size: 20px;
    }
    .DayOfTheWeekButtonPressed{
        font-size: 20px;
    }
    .CreateEventSubmitButton{
        font-size: 20px;
    }

}

@media only screen and (max-width: 550px){
    .ScreenBackground{
        width: 100%;
    }

    .Backdrop{
        height: 50%;
    
    }

    .EventNameForm{
        height: 15%;
    }
}

@media only screen and (max-height: 500px){
    .Base{
       background-image: url(GreenCircleBG.png);
       overflow: hidden;
   }

   .Title{
       margin: 0;
       font-size: 35px;
       top: 10px;
       position:absolute;
   }

   .Backdrop{
       position: absolute;
       top: 17.5%;
         height: 65%;
   }
   .EventNameForm{
       height: 15%;
   }

   .CreateEventSubmitButton{
       position: absolute;
       bottom: 5%;
       height:10%;
   }
}

@media only screen and (max-height: 365px){
    .Title{
        top: 5px;
    }
    .EventNameForm{
        height: 15%;
    }
    .Backdrop{
        height: 70%;
    }

    .CreateEventSubmitButton{
        bottom: 0;
    }
}

@media (prefers-color-scheme: dark){
    .Title{
        color: #ffffff;
    }
    .Backdrop{
        background-color: #303134 !important;
    }
    .EventNameInput{
        background-color: #bdc1c6;
    }
    .TimeSelectionDropdown{
        background-color: #bdc1c6;
    }
    .DayOfTheWeekButton{
        background-color: #237563;
    }
    .DayOfTheWeekButton:hover{
        background-color: #237563dd;
    }
    .DayOfTheWeekButtonPressed{
        background-color: #5F00CD;
    }
    .CreateEventSubmitButton{
        background-color: #237563;
    }
    .CreateEventSubmitButton:hover{
        background-color: #237563dd;
    }
    .EventNameForm:hover{
        border: 2px solid #237563;
    }
    .TimeSelectionDropdown:hover{
        border: 2px solid #237563;
    }
    .Base{
        background-image: url('PurpleCircleBG.png');
    }
}

